/* src/components/ShopItem.css */
.Item {
    background: white;
    border: 1px solid #495057;
    padding: 0.5rem;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .Item h4 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .Item:hover {
    background: #495057;
    color: white;
  }
  
  .Item+.Item {
    margin-top: 1rem;
  }