/* src/components/SuperMarketTemplate.css */
.SuperMarket {
    width: 768px;
    display: flex;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
  
  .SuperMarket h2 {
    margin-top: 0;
  }
  
  .SuperMarket>div {
    padding: 1rem;
    flex: 1;
  }
  
  .SuperMarket .items-wrapper {
    background: #f8f9fa;
  }